body {
 background-color:#eeeded;
}

h1 {
  color: #34626c;
}
h3 {
  color:#16a596;
}

hr {
border-style:none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;
}
